body {
    background-color: rgb(228, 222, 222);
}

input {
    width: 385px;
    height: auto;
    border-radius: 1px;
    padding: 20px;
    margin-top: 7px;
    margin-right: 2em;
    border: 0;
    background-color: #ffffff;
    font-size: 20px;
    margin-left: 0.0em;
}
.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.headline {
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-right: 0.5em;
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-size: 64px;
    color: #050000;
    text-align: left;
}

.description {
    margin-left: 0.5em;
    margin-top: 4.0em;
    margin-bottom: 0em;
    margin-right: 0.5em;
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-size: 14px;
    color: #050000;
    text-align: center;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
    font-family: 'Helvetica Neue';
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}

.navbar {
    background-color: transparent;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    font-family: 'Helvetica Neue';
    font-weight: 800;
  }

  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 12px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }